
.navbar-brand{
	font-size: 1.8rem;
	font-weight: bold;
}
.nav-link{
	font-size: 1.2rem;
	color: #303030;
}
.nav-link:hover{
	border-bottom: 3px solid #303030;
}
.dropdown-item{
	font-size: 1.2rem;
	text-align: center;
}
.dropdown-item:hover{
	background-color: #303030;
	color: #eeee;
}
.table{
	border-radius: 20px;
}